<header id="main-header">
    <figure><img id="header" src="img/DSCN1903.jpg" alt="Background image of a bridge in bethlehem PA"/></figure>
    <br>
    <div class="abovenav">
    <p>Hi, I'm charlie vazquez, a first gen college student majoring in Behrend's
        <a href="https://behrend.psu.edu/school-of-humanities-social-sciences/academic-programs/digital-media-arts-and-technology">DIGIT program</a>.
        I'm currently majoring in DIGIT but hope to minor in Media production by next semester.
        I've helped work on a student film called "eye for an eye" (link here), have written a Pilot for an original
        show here (link) and plan to continue pursuing experience behind the camera.</p>
    </div>
    <br>
    <div class="down">
        <nav>
            <a href="index.html">Home</a>&nbsp;&bull;&nbsp;
            <a href="no3.html">SSD Updates</a>&nbsp;&bull;&nbsp;
            <a href="no2.html">Gallery</a>&nbsp;&bull;&nbsp;
            <a href="no4.html">Resume</a>
        </nav>
    </div>
</header>


